*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: black;
    height: 30%;
    display: flex;
}

header h1{
    color: white;
    font-size: medium;
}

#logo-header{
    height: 90px;
    width: 90px;
    justify-content: end;
}
    

main{
    height: 50%;
}

footer{
    background-color: red;
    height: 20%;
    color: white;
}