*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: black;
    height: 30%;
    display: flex;
}

header h1{
    color: white;
    font-size: medium;
}

header img {
    height: 80px;
    width: auto;
    justify-content: flex-end;
}

main{
    height: 50%;
}

footer{
    background-color: red;
    height: 20%;
    color: white;
}